extends ../layouts/default.pug

block page-header
  h2 Place Your Bid

block content
  ol
    - if (stations.length)
    table(class="table")
      thead
        tr
          th(scope="col") #
          th(scope="col") Station Name
          th(scope="col") Subsidies Price ($)
          th(scope="col") Advertising Price ($)
          th(scope="col") Place Bid On Subsidies
          th(scope="col") Place Bid on Hard Advertising
      tbody
        each station, index in stations
          tr
            th #{index+1}
            td #{station.Station_name}
            td #{station.price1} 
            td #{station.price2}
            td
              button Place Bid 
            td
              button Place Bid 